body {
  font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
	font-style: normal;
	font-variant: normal;
	font-weight: 300;
	/*line-height: 26.4px;*/
}

.channels {
  margin-bottom: 20px;
}

.channel {
  display: inline-block;
  width: 75px;
  text-align: center;
  /*border: 1px solid #eee;*/
}

.slider-container {
  display: block;
}

.slider-container input[type=range] {
  display: block;
  margin: 0 auto;
  width: 20px;
  height: 200px;
  -webkit-appearance: slider-vertical;
}

.slider-container .value-display {
  text-align: center;
  margin: 10px auto;
}

.sound-selector {
  width: 90%;
  margin-top: 10px;
}

.search-field {
  margin-bottom: 10px;
}

.search-result {
  width: 300px;
  border: 1px black solid;
  margin: 0 10px 10px 0;
  text-align: center;
  padding: 20px 0;
}
