body {
  font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
	font-style: normal;
	font-variant: normal;
	font-weight: 300;
}

.buttons {
  margin-bottom: 5px;
}

input[type='button'] {
  margin-bottom: 5px;
}

.channels {
  margin-bottom: 20px;
  overflow-x: auto;
  white-space: nowrap;
}

.channels.in-swap {
  width: 75%;
}

.channel {
  padding: 10px 0;
  display: inline-block;
  width: 75px;
  text-align: center;
  vertical-align: top;
}

.channel.new {
  vertical-align: middle !important;
}

.channel.new input {
  margin: 156px 0;
}

.channel .sound-name {
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: normal;
}

.slider-container {
  display: block;
}

.slider-container input[type=range] {
  display: block;
  margin: 0 auto;
  width: 20px;
  height: 200px;
  -webkit-appearance: slider-vertical;
}

.slider-container .value-display {
  text-align: center;
  margin: 10px auto;
}

.search {
  padding: 10px;
  position: fixed;
  right: 0;
  top: 0;
  width: 25%;
  overflow-y: scroll;
  max-height: 100%;
  background: white;
  height: 100%;
  border: 1px solid #eee;
}

.search-field {
  margin-bottom: 10px;
  width: 100%;
  height: 30px;
  font-size: 14px;
  padding: 9px;
}

.search-result {
  width: 100%;
  height: 70px;
  border: 1px #ddd solid;
  margin: 0 10px 10px 0;
  cursor: pointer;
}

.search-result .info {
  overflow: hidden;
  height: 100%;
  width: 70%;
  display: inline-block;
}

.search-result .info h5 {
  font-size: 14px;
  margin: 0;
  color: #444;
  text-overflow: ellipsis;
  overflow: hidden;
  max-height: 17px;
}

.search-result .info .wrapper {
  padding: 10px;
}

.search-result .info .description {
  font-size: 14px;
}

.search-result img.waveform {
  height: 100%;
  width: 30%;
}
